#content {
   flex: 1;
   display: flex;
}

webview {
   width: 100%;
   height: 100%;
   flex: 1;
   user-select: none;
}

#tabs.vertical webview {
   width: 100%;
   height: 100%;
   flex: 1;
   user-select: none;
}