@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* coloring */
:root {
   --tab-container-background: #1f1f1f;
   --tab-container-text-color: #e0e0e0;
   --vertical-tabs-color: #2f2f2f;
   --tab-background: #2f2f2f;
   --tab-color: #ddd;
   --tab-close-color: #888;
   --tab-playing-audio: #b5b5b5;
   --controls: #2f2f2f;
   --controls-icon-hover: #444;
   --urlbar-border: #333;
   --urlbar-background: #1f1f1f;
   --urlbar-border-active: #888;
   --url-non-domain: #757575;
   --url-non-domain-active: #fff;
   --site-security-text: #fff;
   --popover-background: #1f1f1f;
   --popover-border: #3f3f3f;
   --add-bookmark-input-background: #4f4f4f;
   --add-bookmark-input-border: #4f4f4f;
   --add-bookmark-input-placeholder: #c0c0c0;
   --add-bookmark-input-border-focused: cyan;
   --bookmark-hover: #3f3f3f;
   --bookmark-a: #d4d4d4;
   --text: #fff;
   --tab-close-color-hover: #888;
}

/* body styling */
body,
html {
   margin: 0;
   padding: 0;
   height: 100%;
   display: flex;
   flex-direction: column;
   font-family: "Roboto", sans-serif;
   /*background-color: #121212;*/
   color: var(--text);
}

/* tabs */
#tabs {
   display: flex;
   background-color: var(--tab-container-background);
   overflow-x: auto;
   overflow-y: hidden;
   /* tab overflowing will just be scrolling */
   color: var(--tab-container-text-color);
   -webkit-app-region: drag;
}

#tabs.vertical {
   height: calc(100% - 40px);
   max-width: 250px;
   position: fixed;
   background-color: var(--vertical-tabs-color);
   transform: translateY(40px);
}

#new-tab {
   border-radius: 50%;
   height: 15px;
   max-width: 9px;
   padding-top: 3px;
   margin: 0;
   margin-left: 5px;
   text-align: center;
   transform: translateY(5px);
   -webkit-app-region: no-drag;
}

.tab {
   display: inline-block;
   width: 240px;
   max-width: 175px;
   padding: 7px;
   margin: 0;
   background-color: var(--tab-background);
   /*border: 1px solid #444;*/
   border: 1px solid transparent;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   white-space: nowrap;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   margin-left: 5px;
   color: var(--tab-color);
   font-weight: 500;
   transition: background-color 0.3s ease, color 0.3s ease;
   /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
   max-height: 48px;
   height: 20px;
   -webkit-app-region: no-drag;
}

.tab:hover,
.tab-close-button {
   opacity: 1;
}

.tab-title {
   display: inline-block;
   margin-right: 10px;
   max-width: 80%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   transform: translateY(-15px);
   font-size: 14px;
   transition: transform 0.15s ease;
}

.tab-close-button {
   background: none;
   border: none;
   color: var(--tab-close-color);
   cursor: pointer;
   font-weight: bold;
   font-size: 14px;
   position: absolute;
   right: 5px;
   top: 5px;
   border-radius: 15px;
}

.tab-close-button:hover {
   background: var(--tab-close-color-hover);
}

.tab-audio {
   margin-left: 23px;
   transform: translateY(-13px);
   color: var(--tab-playing-audio);
   transition: all 0.15s ease;
   display: inline-block;
}

/* favicon */
.tab-favicon {
   margin-right: 5px;
   vertical-align: middle;
}

.tab-favicon img {
   width: 18px;
   height: 18px;
   transform: translateY(1.5px);
}

.tab-favicon span {
   animation: spinFavicon 0.5s ease infinite;
   font-size: larger;
}

@keyframes spinFavicon {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

/* browser view (webview) */
#content {
   flex: 1;
   display: flex;
}

webview {
   width: 100%;
   height: 100%;
   flex: 1;
   user-select: none;
}

#tabs.vertical webview {
   width: 100%;
   height: 100%;
   flex: 1;
   user-select: none;
}

/* controls */
#controls {
   display: flex;
   align-items: center;
   padding: 5px;
   background: var(--controls);
}

#controls i {
   opacity: 0.5;
   margin-right: 10px;
   padding: 5px;
   border-radius: 15px;
}

#controls i.active {
   opacity: 1;
   cursor: pointer;
}

#controls i.active:hover {
   background: var(--controls-icon-hover);
}

#controls span.material-symbols-outlined {
   font-size: larger;
   cursor: pointer;
   user-select: none;
   padding: 3px;
   border-radius: 50%;
}

#controls span:hover {
   background: var(--controls-icon-hover);
}

#controls #back-button {
   opacity: 0.5;
   cursor: auto;
}

#controls #forward-button {
   margin-left: 10px;
   margin-right: 10px;
   opacity: 0.5;
   cursor: auto;
}

#controls #back-button.active {
   opacity: 1;
   cursor: pointer;
}

#controls #forward-button.active {
   opacity: 1;
   cursor: pointer;
}

/* url bar */
#url-bar {
   width: 50%;
   padding: 5px;
   padding-left: 35px;
   font-size: 15px;
   border: 1px solid var(--urlbar-border);
   overflow-x: auto;
   overflow-y: hidden;
   white-space: nowrap;
   cursor: text;
   max-height: 20px;
   background-color: var(--urlbar-background);
   scrollbar-width: none;
   -ms-overflow-style: none;
   outline: none;
   border-radius: 15px;
   transform: translateX(-35px);
   transition: all 0.1s ease;
   margin-left: 20px;
}

#url-bar:focus {
   border: 1px solid var(--urlbar-border-active);
}

#url-bar .non-domain {
   color: var(--url-non-domain);
}

#url-bar:focus .non-domain {
   color: var(--url-non-domain-active);
}

#url-bar .non-domain.hidden {
   display: none;
}

#url-bar:focus .non-domain.hidden {
   display: inline;
}

.url-container::-webkit-scrollbar {
   display: none;
}

#url-bar span:hover {
   background: transparent;
}

/* dialogs */
dialog {
   margin: 0 auto;
   width: 600px;
   padding: 10px;
   border-radius: 10px;
   background: #2f2f2f;
   border: 1px solid #fff;
   margin-top: 125px;
   animation: openPopup 0.25s ease;
   overflow-y: auto;
   color: #fff;
   outline: none;
   max-height: 500px;
}

dialog h2,
dialog p,
dialog h1 {
   padding: 0;
   margin: 0;
}

dialog p.info {
   color: #bbb;
}

dialog small {
   color: #bbb;
}

dialog a {
   color: cyan;
}

dialog a:hover {
   text-decoration: none;
   color: #00bbbb;
}

dialog::backdrop {
   background: rgba(31, 31, 31, 0.6);
}

/* link preview */
#link-preview {
   position: fixed;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.8);
   color: var(--text);
   padding: 5px 10px;
   font-size: 12px;
   display: none;
}

/* site security */
#site-security {
   transform: translateX(18px);
   z-index: 1;
   color: var(--site-security-text);
   font-size: larger;
   cursor: pointer;
}

/* see site security info */
#site-security-info {
   position: fixed;
   top: 80px;
   left: 0;
   background-color: var(--popover-background);
   border: 1px solid var(--popover-border);
   border-radius: 15px;
   color: var(--text);
   padding: 5px 10px;
   font-size: 12px;
   width: auto;
   max-width: 25%;
   height: auto;
   max-height: 150px;
   display: none;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: wrap;
   z-index: 999;
   margin-left: 105px;
   animation: openSecurity 0.1s ease;
   transition: all 0.1s linear;
}

@keyframes openSecurity {
   0% {
      transform: translateY(-15px);
      opacity: 0;
   }
   100% {
      transform: translateY(0px);
      opacity: 1;
   }
}

/* content (non-webview) */
#non-div-content {
   z-index: 1;
}

/* bookmarks bar */
#bookmarks-bar {
   width: 100%;
   height: 25px;
   background: var(--controls);
}

/* add bookmark inputs */
#add-bookmark-info {
   position: fixed;
   top: 80px;
   right: 0;
   background-color: var(--popover-background);
   border: 1px solid var(--popover-border);
   border-radius: 15px;
   color: var(--text);
   padding: 5px 10px;
   font-size: 12px;
   width: auto;
   max-width: 25%;
   height: auto;
   max-height: 250px;
   display: none;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: wrap;
   z-index: 999;
   margin-right: 750px;
   animation: openSecurity 0.1s ease;
   transition: all 0.1s linear;
}

#add-bookmark-info input {
   background: var(--add-bookmark-input-background);
   border: 1px solid var(--add-bookmark-input-border);
   padding: 5px;
   border-radius: 10px;
   outline: none;
   color: var(--text);
   font-size: 16px;
   transition: all 0.15s ease;
}

#add-bookmark-info input::placeholder {
   color: var(--add-bookmark-input-placeholder);
}

#add-bookmark-info input:focus {
   border: 1px solid var(--add-bookmark-input-border-focused);
}

.bookmark {
   max-width: 125px;
   float: left;
   margin-right: 10px;
   margin-left: 5px;
}

#tabs.vertical .bookmark {
   margin-left: 250px !important;
}

.bookmark:hover {
   background: var(--bookmark-hover);
}

.bookmark a {
   text-decoration: none;
   color: var(--bookmark-a);
}

.bookmark img {
   transform: translateY(3px);
}

/* An error may have occurred */
#errorMayHaveOccurred {
   position: fixed;
   top: 80px;
   left: 0;
   background-color: var(--popover-background);
   border: 1px solid var(--popover-border);
   border-radius: 15px;
   color: var(--text);
   padding: 5px 10px;
   font-size: 12px;
   width: auto;
   max-width: 25%;
   height: auto;
   max-height: 150px;
   display: none;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: wrap;
   z-index: 999;
   margin-left: 105px;
   animation: openSecurity 0.1s ease;
   transition: all 0.1s linear;
}